<div class="example-container" style="margin-left:30px; padding-top:100px;">
  <mat-tab-group mat-align-tabs="end" >
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right:10px;" >thumb_up</mat-icon>
        First 
      </ng-template>
      <div class="tabContent">Content 1</div>
    </mat-tab>
    <mat-tab >
      <ng-template mat-tab-label>
        <mat-icon style="margin-right:10px;">thumb_up</mat-icon>
        Second 
      </ng-template>
      <div class="tabContent">Content 2</div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right:10px;">thumb_up</mat-icon>
        Third 
      </ng-template>
      <div class="tabContent">Content 3</div>
    </mat-tab>
  </mat-tab-group>


  <button (click)="changeTab(1)">Open 2nd Tab</button>
</div>